<ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
  <a
    class="sidebar-brand d-flex align-items-center justify-content-center"
    href="index.html"
  >
    <div class="sidebar-brand-icon">
      <img src="assets/img1/logo/logo2.png" />
    </div>
    <div class="mx-3">Dashboard Doctor</div>
  </a>
  <hr class="sidebar-divider my-0" />
  <li class="nav-item active">
    <a class="nav-link" href="index.html">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a
    >
  </li>
  <hr class="sidebar-divider" />
  <div class="sidebar-heading">Services</div>

  <!-- Gestion cabinet -->
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapseCabinet"
      aria-expanded="true"
      aria-controls="collapseBootstrap"
    >
      <i class="far fa-fw fa-window-maximize"></i>
      <span>Gestion cabinet</span>
    </a>
    <div
      id="collapseCabinet"
      class="collapse"
      aria-labelledby="headingBootstrap"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item">Ajouter un cabinet</a>
        <a class="collapse-item">Consulter un cabinet</a>
      </div>
    </div>
  </li>

  <!-- Gestion Infermier -->
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapseInfermier"
      aria-expanded="true"
      aria-controls="collapseBootstrap"
    >
      <i class="far fa-fw fa-window-maximize"></i>
      <span>Gestion infermiers</span>
    </a>
    <div
      id="collapseInfermier"
      class="collapse"
      aria-labelledby="headingBootstrap"
      data-parent="#accordionSidebar">
    
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="/dashboard-doctor/ajout-infermier" >Ajouter un infermier</a>
        <a class="collapse-item" href="/dashboard-doctor/list-infermier" >Consulter un infermier</a>
      </div>
    </div>
  </li>

  <!-- Gestion Consultation -->
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapseConsultation"
      aria-expanded="true"
      aria-controls="collapseBootstrap"
    >
      <i class="far fa-fw fa-window-maximize"></i>
      <span>Gestion consultations</span>
    </a>
    <div
      id="collapseConsultation"
      class="collapse"
      aria-labelledby="headingBootstrap"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="/dashboard-doctor/ajout-consultation"
          >Ajouter un consultation</a
        >
        <a class="collapse-item" href="/dashboard-doctor/list-consultation"
          >Consulter un consultation</a
        >
      </div>
    </div>
  </li>

  <!-- Gestion Ordonnaces -->
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapseOrdonnaces"
      aria-expanded="true"
      aria-controls="collapseBootstrap"
    >
      <i class="far fa-fw fa-window-maximize"></i>
      <span>Gestion ordonnaces</span>
    </a>
    <div
      id="collapseOrdonnaces"
      class="collapse"
      aria-labelledby="headingBootstrap"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="/dashboard-doctor/ajout-ordonnanceMain">Ajouter un ordonnaces</a>
        <a class="collapse-item">Consulter un ordonnaces</a>
      </div>
    </div>
  </li>

  <!--  <li class="nav-item">
      <a class="nav-link" href="ui-colors.html">
        <i class="fas fa-fw fa-palette"></i>
        <span>Gestion des ordonnances</span>
      </a>
    </li> -->
</ul>
