<!DOCTYPE html>
<html lang="en">

<body id="page-top">
  <div id="wrapper">
    <!-- Sidebar -->
    <app-side-bar></app-side-bar>
    <!-- Sidebar -->

    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <!-- TopBar -->
        <app-top-bar></app-top-bar>
        <!-- Topbar -->

        <!-- Interface ajout ordonnance -->
        <div class="container-fluid" id="container-wrapper">
          <section id="services" class="services section-bg">
            <div class="container" data-aos="fade-up">
              <div class="d-flex justify-content-between">
                <p class="muted">
                  patient:
                  <b>
                    {{selectedPatient.nomPatient + " " + selectedPatient.prenomPatient}}
                  </b>
                  Age : <b>{{selectedPatientAge + "ans"}}</b>
                </p>
                <form #addOrdonnanceTraitementForm="ngForm">
                  <div class="form-group">
                    <input 
                      class="form-control border border-primary"
                      type="date"
                      [(ngModel)]="ordonnanceTraitement.dateOrdonnance"
                      [ngModelOptions]="{ standalone: true }"
                    />
                  </div>
                </form>
              </div>
            </div>
          </section>

          <!-- Inteface d'ajout médicaments-->
          <section>
            <div class="container" data-aos="fade-up">
              <div class="section-title">
                <h2>Médicaments</h2>
              </div>
              <form class="bordered-form" [formGroup]="medicamentForm">
                <div formArrayName="medicaments">
                  <div
                    *ngFor="let med of getControls(); let i = index"
                    [formGroupName]="i"
                    class="mb-2"
                  >
                    <div class="row">
                      <div class="col">
                        <label *ngIf="i < 1" for="nom" class="form-label">Médicament</label>
                        <input
                          type="text"
                          class="form-control"
                          id="nom"
                          formControlName="nom"
                          placeholder="Médicament"
                        />
                      </div>
                      <div class="col">
                        <label 
                        *ngIf="i < 1"
                        for="posologie"
                        class="form-label"
                        >Posologie
                        </label>
                        <input
                          type="text"
                          class="form-control"
                          id="posologie"
                          formControlName="posologie"
                          placeholder="Posologie"
                          />
                      </div>
                      <div class="col">
                        <label
                          *ngIf="i < 1"
                          for="nombreUnite"
                          class="form-label"
                          >Nombre d'unité</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="nombreUnite"
                          formControlName="nombreUnite"
                          placeholder="Nombre d'unité"
                        />
                      </div>
                      <div class="col">
                        <label *ngIf="i < 1" for="qsp" class="form-label"
                          >QSP</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="qsp"
                          formControlName="qsp"
                          placeholder="QSP"
                        />
                      </div>
                      <div class="col">
                        <label *ngIf="i < 1" for="but" class="form-label"
                          >&nbsp;</label
                        >
                        <button
                              id="but"
                              type="button"
                              class="btn btn-danger"
                              (click)="removeMedicament(i)"
                            >
                              <i class="fas fa-trash-alt"></i>
                            </button>
                          </div>
                    </div>
                  </div>
                </div>
              </form>
              <!-- Bouton "Ajouter médicament" -->
              <div class="form-group">
                <button
                  type="button"
                  class="btn btn-primary mt-3"
                  (click)="addMedFormGroup()"
                >
                  <i class="fas fa-plus"></i>Ajouter médicament
                </button>
              </div>
            </div>
          </section>

          <div class="form-group mt-3 text-right">
            <button type="reset" class="btn btn-light">Cancel</button>
            <button type="button" class="btn btn-success ml-2" (click)="handleClick()">Sauvegarder</button>
          </div>

          <section id="print_ordonnance" class="d-none">
            <div>
              <h3>Prévisualisation de l'ordonnance</h3>

              <p>
                <strong>Date</strong>
                {{ ordonnanceTraitement.dateOrdonnance }}
              </p>
              <p><strong>Nom du patient:</strong> {{ selectedPatient.nomPatient }}</p>
              <p>
                <strong>Prénom du patient:</strong>
                {{ selectedPatient.prenomPatient }}
              </p>
              <h4>Médicaments:</h4>
              <ul>
                <li *ngFor="let medicament of getControls()">
                  <p><strong>Nom:</strong> {{ medicament.value.nom }}</p>
                  <p>
                    <strong>Posologie:</strong>
                    {{ medicament.value.posologie }}
                  </p>
                  <p>
                    <strong>Nombre d'unité:</strong>
                    {{ medicament.value.nombreUnite }}
                  </p>
                  <p>
                    <strong>QSP:</strong>
                    {{ medicament.value.qsp }}
                  </p>
                </li>
              </ul>
            </div>
          </section>

          <!-- Modal Logout -->
          <div
            class="modal fade"
            id="logoutModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalLabelLogout"
            aria-hidden="true"
          >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabelLogout">
                  Ohh No!
                </h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Are you sure you want to logout?</p>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-outline-primary"
                  data-dismiss="modal"
                >
                  Cancel
                </button>
                <a href="login.html" class="btn btn-primary">Logout</a>
              </div>
            </div>
          </div>
        </div>
      </div>
           
        <!---Container Fluid-->
      </div>
    </div>
  </div>

  <!-- Scroll to top -->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
</body>

</html>
