<!DOCTYPE html>
<html lang="en">


<body id="page-top">
  <div id="wrapper">
    <!-- Sidebar -->
  <app-side-bar></app-side-bar>
    <!-- Sidebar -->

    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">

        <!-- TopBar -->
       <app-top-bar></app-top-bar>
        <!-- Topbar -->

        <!-- Container Fluid-->
        <div class="container-fluid" id="container-wrapper">
         <section id="services" class="services section-bg">
            <div class="container" data-aos="fade-up">
              <div class="section-title">
                <h2>Ajouter un ordonnance</h2>
              </div>
              <form #addPatientForm='ngForm' #addOrdonnanceTraitementForm>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-5">
                      
                      <select class="form-control" >
                        <option [value]="undefined" style="-webkit-text-fill-color: red ;" selected>Type d'Ordonnance </option>
                        
                        <option value="Ordonnance médicale" style="-webkit-text-fill-color: red ;">Ordonnance médicale</option>
                        <option value="Ordonnance chirurgicale">Ordonnance chirurgicale</option>
                        <option value="Ordonnance d'arrêt de travail">Ordonnance d'arrêt de travail</option>
                      </select>
                    </div>
                    <div class="col-sm-5">
                      <button type="button" class="btn btn-primary mr-3">Aperçu et Imprimer</button>
                      <button type="button" class="btn btn-success">Imprimer</button>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col">
                      <input type="text" class="form-control" [(ngModel)]='patient.nomPatient' [ngModelOptions]="{standalone: true}" placeholder="Nom">
                    </div>
                    <div class="col">
                      <input type="text" class="form-control" [(ngModel)]='patient.prenomPatient' [ngModelOptions]="{standalone: true}" placeholder="Prenom">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col">
                      <input type="text" class="form-control" [(ngModel)]='patient.dateNaissance' [ngModelOptions]="{standalone: true}" placeholder="Age">
                    </div>
                    <div class="col">
                      <input type="text" class="form-control" [(ngModel)]='ordonnanceTraitement.dateOrdonnance' [ngModelOptions]="{standalone: true}" placeholder="Date">
                    </div>
                  </div>
                </div>
              </form>
              
              





            </div>
        </section>
        
         <!-- Modal Logout -->
         <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelLogout"
           aria-hidden="true">
           <div class="modal-dialog" role="document">
             <div class="modal-content">
               <div class="modal-header">
                 <h5 class="modal-title" id="exampleModalLabelLogout">Ohh No!</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
                 </button>
               </div>
               <div class="modal-body">
                 <p>Are you sure you want to logout?</p>
               </div>
               <div class="modal-footer">
                 <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
                 <a href="login.html" class="btn btn-primary">Logout</a>
               </div>
             </div>
           </div>
         </div>

       </div>
       <!---Container Fluid-->
     </div>

   </div>
 </div>

 <!-- Scroll to top -->
 <a class="scroll-to-top rounded" href="#page-top">
   <i class="fas fa-angle-up"></i>
 </a>

</body>

</html>











 


 



 
 



