<!DOCTYPE html>
<html lang="en">
  <body id="page-top">
    <div id="wrapper">
      <!-- Sidebar -->
    <!--   <app-side-bar-inf></app-side-bar-inf> -->
      <!-- Sidebar -->

      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          <!-- TopBar -->
       <!--    <app-top-bar></app-top-bar> -->
          <!-- Topbar -->

          <!-- Container Fluid-->
          <div class="container-fluid" id="container-wrapper">
            <section id="services" class="services section-bg">
              <div class="container" data-aos="fade-up">
                <div class="section-title">
                  <h2>liste des patients</h2>
                </div>

                <!-- <div class="align-items-stretch" data-aos="zoom-in" data-aos-delay="100"> </div>
                <div class="icon-box"> </div> -->

                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Nom</th>
                      <th>Prénom</th>
                      <th>D.Naissance</th>
                      <th>Sexe</th>
                      <th>Adresse</th>
                      <th>Situation Familliale</th>
                      <th>Assurance Medical</th>
                      <th>Code assurance</th>
                      <th>Téléphone</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let i of patients">
                      <th>{{ i.id }}</th>
                      <td>{{ i.nomPatient }}</td>
                      <td>{{ i.prenomPatient }}</td>
                      <td>{{ i.dateNaissance }}</td>
                      <td>{{ i.sexe }}</td>
                      <td>{{ i.adresse }}</td>
                      <td>{{ i.situationFamilliale }}</td>
                      <td>{{ i.assusranceMedical }}</td>
                      <td>{{ i.codeAssurance }}</td>
                      <td>{{ i.telephone }}</td>
                      <td>
                        <button
                          class="btn btn-primary btn-sm mr-2"
                          (click)="gotToEditPatient(i.id)"
                        >
                          Edit
                        </button>
                        <button
                          class="btn btn-danger btn-sm"
                          (click)="deletePatient(i.id)"
                        >
                          Delete
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </section>
            <!-- Modal Logout -->
            <div
              class="modal fade"
              id="logoutModal"
              tabindex="-1"
              role="dialog"
              aria-labelledby="exampleModalLabelLogout"
              aria-hidden="true"
            >
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabelLogout">
                      Ohh No!
                    </h5>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>Are you sure you want to logout?</p>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-outline-primary"
                      data-dismiss="modal"
                    >
                      Cancel
                    </button>
                    <a href="login.html" class="btn btn-primary">Logout</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!---Container Fluid-->
        </div>
      </div>
    </div>

    <!-- Scroll to top -->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
  </body>
</html>
