<!DOCTYPE html>
<html lang="en">
  <body id="page-top">
    <div id="wrapper">
      <!-- Sidebar -->
      <app-side-bar-inf></app-side-bar-inf>
      <!-- Sidebar -->

      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          <!-- TopBar -->
          <app-top-bar></app-top-bar>
          <!-- Topbar -->

          <!-- Container Fluid-->
          <div class="container-fluid" id="container-wrapper">
            <section id="services" class="services section-bg">
              <div class="container" data-aos="fade-up">
                <div class="section-title">
                  <h2>Ajouter un patient</h2>
                </div>

                <form #addPatientForm="ngForm" (ngSubmit)="savePatient()">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="patient.nomPatient"
                      [ngModelOptions]="{ standalone: true }"
                      placeholder="Nom"
                    />
                  </div>

                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="patient.prenomPatient"
                      [ngModelOptions]="{ standalone: true }"
                      placeholder="Prenom"
                    />
                  </div>

                  <div class="form-group">
                    <input
                      type="date"
                      class="form-control"
                      [(ngModel)]="patient.dateNaissance"
                      [ngModelOptions]="{ standalone: true }"
                      placeholder="Date de naissance"
                    />
                  </div>

                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="patient.sexe"
                      [ngModelOptions]="{ standalone: true }"
                      placeholder="Sexe"
                    />
                  </div>

                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="patient.adresse"
                      [ngModelOptions]="{ standalone: true }"
                      placeholder="Adresse"
                    />
                  </div>

                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="patient.situationFamilliale"
                      [ngModelOptions]="{ standalone: true }"
                      placeholder="Situation Familliale"
                    />
                  </div>
                  <div class="form-group">
                    <input
                      type="date"
                      class="form-control"
                      [(ngModel)]="patient.assusranceMedical"
                      [ngModelOptions]="{ standalone: true }"
                      placeholder="Assurance Medical"
                    />
                  </div>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="patient.codeAssurance"
                      [ngModelOptions]="{ standalone: true }"
                      placeholder="Code assurance medical"
                    />
                  </div>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="patient.telephone"
                      [ngModelOptions]="{ standalone: true }"
                      placeholder="Telephone"
                    />
                  </div>

                  <div class="form-group">
                    <button type="submit" class="btn btn-primary">
                      Ajouter
                    </button>
                  </div>
                </form>
              </div>
            </section>
            <!--Affichage de formulaire de l'ajout cabinet-->
            <!--  <div *ngIf="sectionAfficher == 'ajouterCabinet' " ><app-ajout-cabinet></app-ajout-cabinet></div>
          <div *ngIf="sectionAfficher == 'consulterCabinet' " ><app-list-cabinet></app-list-cabinet></div> -->

            <!--Affichage de formulaire de l'ajout Infermier-->
            <!-- <div *ngIf="sectionAfficher == 'ajouterInfermier' " ><app-ajout-infermier></app-ajout-infermier></div>
          <div *ngIf="sectionAfficher == 'consulterInfermier' " ><app-list-infermier></app-list-infermier></div> -->

            <!-- Modal Logout -->
            <div
              class="modal fade"
              id="logoutModal"
              tabindex="-1"
              role="dialog"
              aria-labelledby="exampleModalLabelLogout"
              aria-hidden="true"
            >
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabelLogout">
                      Ohh No!
                    </h5>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>Are you sure you want to logout?</p>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-outline-primary"
                      data-dismiss="modal"
                    >
                      Cancel
                    </button>
                    <a href="login.html" class="btn btn-primary">Logout</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!---Container Fluid-->
        </div>
      </div>
    </div>

    <!-- Scroll to top -->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
  </body>
</html>
