
<app-header></app-header>
<div class="wrapper">
  <div class="inner">
    <div class="image-holder">
      <img src="assets/images/5191079.jpg" alt="">
    </div>
        <form [formGroup]='loginForm'>  
            <h3>Connexion</h3>
					<div class="form-holder active">
              <input type="text" class="form-control" [(ngModel)]='request.email' formControlName="email" placeholder="Email">
             </div> 
             <div class="form-holder active">
              <input type="text" class="form-control" [(ngModel)]='request.password' formControlName="password" placeholder="Mot de passe">
            </div>
            <div class="checkbox">
							<input type="checkbox" checked> 
				   	</div>
					  <div class="form-login">
             <button (click)="login()">
              Se connecter
					   </button>
             </div>
       </form>
       </div>
      </div>
		