<div id="content-wrapper" class="d-flex flex-column">
    <div id="content">

                  <h2 class="form-title">Créer votre cabinet</h2>
                  <form #addCabinetForm='ngForm' (ngSubmit)='addCabinet()' class="register-form" id="register-form">
                      <div class="form-group">
                          <label for="name"></label>
                          <input type="text" class="form-control" [(ngModel)]='cabinet.name'name="name" id="name" placeholder="Nom Cabinet"/>
                      </div>

                      <div class="form-group">
                      <label for="name"></label>
                      <input type="text" class="form-control" [(ngModel)]='cabinet.adresse' name="name" id="name" placeholder="Adresse"/>
                  </div>
                  <div class="form-group">
                      <label for="name"></label>
                      <input type="text" class="form-control" [(ngModel)]='cabinet.telephone' name="name" id="name" placeholder="Télephone"/>
                  </div>

                  <div class="form-group">
                  <label for="name"></label>
                  <input type="text" class="form-control" [(ngModel)]='cabinet.specialite' name="name" id="name" placeholder="Spécialité"/>
              </div>
              <div class="form-group">
              <label for="name"></label>
              <input type="text" class="form-control" [(ngModel)]='cabinet.matriculefiscale'name="name" id="name" placeholder="Matricule fiscale"/>
          </div>
          <div class="form-group">
          <label for="name"></label>
          <input type="text" class="form-control" [(ngModel)]='cabinet.photo'name="name" id="name" placeholder="Photo"/>
      </div>
      <div class="form-group">
      <label for="name"></label>
      <input type="text" class="form-control" [(ngModel)]='cabinet.ville' name="name" id="name" placeholder="Ville"/>
  </div>
    <div class="form-group">
    <label for="name"></label>
    <input type="text" class="form-control" [(ngModel)]='cabinet.codepostale' name="name" id="name" placeholder="Code Postale"/>
</div>

                   <div class="form-group">
                          <label for="email"></label>
                          <input type="email" class="form-control" [(ngModel)]='cabinet.email' name="email" id="email" placeholder="Email"/>
                      </div>
                     <!--  <div class="form-group">
                          <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                          <input type="password" name="pass" id="pass" placeholder="Password"/>
                      </div>
                      <div class="form-group">
                          <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                          <input type="password" name="re_pass" id="re_pass" placeholder="Repeat your password"/>
                      </div> -->
                      <div class="form-group">
                          <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                          <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                      </div>
                      <div class="form-group form-button">
                          <input type="submit" name="signup" id="signup" class="form-submit" value="Créer"/>
                      </div>
                  </form>
        
 
</div>
    </div>