
 <body>
   
<div class="row">

<div class="col-6">
    <form #addCabinetForm='ngForm' (ngSubmit)='addCabinet()'>
        <div class="form-group">
            <label for="name"></label>
            <input type="text" class="form-control" [(ngModel)]='cabinet.name' name="name" 
                placeholder="Nom Cabinet" />
        </div>

        <div class="form-group">
            <label for="name"></label>
            <input type="text" class="form-control" [(ngModel)]='cabinet.adresse' name="name"
                placeholder="Adresse" />
        </div>
        <div class="form-group">
            <label for="name"></label>
            <input type="text" class="form-control" [(ngModel)]='cabinet.telephone' name="name"  placeholder="Télephone"/>
        </div>

        <div class="form-group">
            <label for="name"></label>
            <input type="text" class="form-control" [(ngModel)]='cabinet.specialite' name="name" id="name"
                placeholder="Spécialité" />
        </div>
        <div class="form-group">
            <label for="name"></label>
            <input type="text" class="form-control" [(ngModel)]='cabinet.matriculefiscale' name="name" 
                placeholder="Matricule fiscale" />
        </div>
        <div class="form-group">
            <label for="name"></label>
            <input type="text" class="form-control" [(ngModel)]='cabinet.ville' name="name" 
                placeholder="Ville" />
        </div>
       

    

        <div class="form-group form-button">
            <input type="submit"  class="form-submit" value="Créer" />
        </div>
    </form>

</div>

<div class="col-6">
    <div>
        <div class="dropzone">

        </div>
    <input type="file" multiple value="select" #selectFile (change)="onFileSelected($event)">
     </div>
    <div class="mt-5">
        <div class="row">
            <mat-grid-list cols="2" rowHeight="2:2">

                <mat-grid-tile *ngFor="let file of cabinet.cabinetImages; let i=index;">
                    <div style="position: relative">
                        <span class="btn-remove-image" (click)="removeImages(i)">
                            X
                        </span>
                        <img [src]="file.url" width="200px" height="200px" >
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>
</div></div>


</body>
