mat-grid-tile{
border: 1px #eee ;
}
.btn-remove-image{
    position:absolute;
    cursor: pointer;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: auto;
    text-align: center;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: hidden; /* Élimine la barre de défilement verticale */
    overflow-x: hidden; /* Élimine la barre de défilement horizontale */
}

form  {
    margin-top: 100px;
}

.dropzone {
    height: 150px;
    min-width: 100px;
    display: table;
    background-color: #eee;
    width: 300px;
    border: dashed 1px #aaa;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px; /* La dropzone est en haut */
    margin-bottom: auto;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
